@page
@model Liviu_Padurariu_Proiect.Pages.Rentals.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rental</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rental.CarID" class="control-label"></label>
                <select asp-for="Rental.CarID" class ="form-control" asp-items="ViewBag.CarID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Rental.UserID" class="control-label"></label>
                <select asp-for="Rental.UserID" class ="form-control" asp-items="ViewBag.UserID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Rental.LocationID" class="control-label"></label>
                <select asp-for="Rental.LocationID" class ="form-control" asp-items="ViewBag.LocationID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Rental.PickupDate" class="control-label"></label>
                <input asp-for="Rental.PickupDate" class="form-control" />
                <span asp-validation-for="Rental.PickupDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rental.DropoffDate" class="control-label"></label>
                <input asp-for="Rental.DropoffDate" class="form-control" />
                <span asp-validation-for="Rental.DropoffDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
