@page
@model Liviu_Padurariu_Proiect.Pages.Cars.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Car.CarMakerID" class="control-label"></label>
                <select asp-for="Car.CarMakerID" class ="form-control" asp-items="ViewBag.CarMakerID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Car.ColorID" class="control-label"></label>
                <select asp-for="Car.ColorID" class ="form-control" asp-items="ViewBag.ColorID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Car.TransmissionID" class="control-label"></label>
                <select asp-for="Car.TransmissionID" class ="form-control" asp-items="ViewBag.TransmissionID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Car.Seats" class="control-label"></label>
                <input asp-for="Car.Seats" class="form-control" />
                <span asp-validation-for="Car.Seats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Price" class="control-label"></label>
                <input asp-for="Car.Price" class="form-control" />
                <span asp-validation-for="Car.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.HP" class="control-label"></label>
                <input asp-for="Car.HP" class="form-control" />
                <span asp-validation-for="Car.HP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
